<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <services>
      <service name="PointOfSale.Contracts.Users.UsersService"
               behaviorConfiguration="basicBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/users"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="PointOfSale.Contracts.Users.IUserService"></endpoint>
      </service>
      
      <service name="PointOfSale.Contracts.Menu.MenuService"
               behaviorConfiguration="basicBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/menu"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="PointOfSale.Contracts.Menu.IMenuServcie"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>